<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img src="/assets/img/imgcamila.jpeg"/>
      <ion-card-header>
        <ion-card-title>Avaliação formadora</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Nome: Camila Landy Fernandes de Oliveira
        <br>
        Matrícula: 23103571
        Turma: ADS0304N

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>